.main-header{
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content:space-around;
    box-shadow: 0 0 15px #999;
    background: #3D518C;
    color: white;
    flex-direction: row;
    height: 75px;
    font-family: 'Advent Pro', sans-serif;
}
.logo-header{
    display:flex;
    justify-content:center;
    align-items:center;
}
h1{
    margin: 0;
    padding-left: 10px;
    text-shadow: 1px 1px 1px  #D9D9D9 ; 
    font-size: 35px;
}
nav {
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.2s linear;  
}
a{
    color: white;  
    text-decoration: none;
    padding: 16px;
    font-weight: 600;
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
}
a:focus{ 
    color: white;
    transition:  0.2s linear;
}

body{
    background-color:rgb(236, 236, 236);
}
.faFemale{
    font-size: 28px;
    padding: 10px;
    color: white;
    margin-right:-20px;
}
.faIcons{
    color:white;
    margin-left: -12px;
    padding-right: 0;
}